# SPDX-FileCopyrightText: {{ copyright_date }}-present {{ copyright_holder }} <{{ copyright_holder_email }}>
#
# SPDX-License-Identifier: {{ copyright_license }}
import click
from {{python_package_import_name}}.__about__ import __version__


@click.group(
    context_settings={"help_option_names": ["-h", "--help"]},
    invoke_without_command=True,
)
@click.version_option(version=__version__, prog_name="{{project_name}}")
def {{python_package_import_name}}():
    """Command-line interface for the '{{project_name}}' application."""
    click.echo("Hello world!")
